<!DOCTYPE html>

<html>
    <head>
        <title>
            Node Web server
        </title>

        <link rel="stylesheet" href="./css/style.css">
        
    </head>

    <body>
        {{>_header}}
        <h1>{{ title }}</h1>

        <h3>{{body}}</h3>

        <img src="./img/me.JPG" alt="Medicare" >

        <form action="">
            <input type="text" placeholder="Search">
            <button>Search</button>
        </form>

        <p id="p1" ></p>
        <p id="p2"></p>

        <script src="js/app.js"></script>
    </body>
</html>